# systemd service for Filebrowser  using docker-compose


[Unit]
Description=Filebrowser systemd settings

[Service]
ExecStart=/srv/stacks/filebrowser/service start
ExecStop=/srv/stacks/filebrowser/service stop
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
