# systemd service for Filebrowser  using docker-compose

# Symlink the service file to the correct location
# sudo ln -s filebrowser.service /etc/systemd/system/filebrowser.service

# Enable the service
# sudo systemctl enable filebrowser.service

# Logs
# sudo journalctl -u filebrowser.service


[Unit]
Description=Filebrowser systemd settings

[Service]
ExecStart=/srv/stacks/filebrowser/service start
ExecStop=/srv/stacks/filebrowser/service stop
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
